
<!DOCTYPE html>
<html>
  <head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style media="screen">
      body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 14px;
        color: #333;
      }

      h1 {
        font-size: 28px;
        color: #000;
      }

      a  {color: #03c}

      a:hover {
        background-color: #03c;
        color: white;
        text-decoration: none;
      }

      #page {
        background-color: #f0f0f0;
        width: 750px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }

      #content {
        float: left;
        background-color: white;
        border: 3px solid #aaa;
        border-top: none;
        padding: 25px;
        width: 500px;
      }

      #sidebar {
        float: right;
        width: 175px;
      }

      #footer {
        clear: both;
      }

      #header, #about, #getting-started {
        padding-left: 75px;
        padding-right: 30px;
      }

      #header {
        background-repeat: no-repeat;
        background-position: top left;
        height: 44px;
      }

      #header h1, #header h2 {margin: 0}

      #header h2 {
        color: #888;
        font-weight: normal;
        font-size: 16px;
      }

      #about h3 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 14px;
      }

      #about-content {
        background-color: #ffd;
        border: 1px solid #fc0;
        margin-left: -55px;
        margin-right: -10px;
      }

      #about-content table {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 11px;
        border-collapse: collapse;
      }

      #about-content td {
        padding: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
      }

      #about-content td.name  {
        font-weight: bold;
        vertical-align: top;
        color: #555;
      }

      #about-content td.value {color: #000}

      #about-content ul {
        padding: 0;
        list-style-type: none;
      }

      #about-content.failure {
        background-color: #fcc;
        border: 1px solid #f00;
      }

      #about-content.failure p {
        margin: 0;
        padding: 10px;
      }

      #getting-started {
        border-top: 1px solid #ccc;
        margin-top: 25px;
        padding-top: 15px;
      }

      #getting-started h1 {
        margin: 0;
        font-size: 20px;
      }

      #getting-started h2 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        color: #333;
        margin-bottom: 25px;
      }

      #getting-started ol {
        margin-left: 0;
        padding-left: 0;
      }

      #getting-started li {
        font-size: 18px;
        color: #888;
        margin-bottom: 25px;
      }

      #getting-started li h2 {
        margin: 0;
        font-weight: normal;
        font-size: 18px;
        color: #333;
      }

      #getting-started li p {
        color: #555;
        font-size: 13px;
      }

      #sidebar ul {
        margin-left: 0;
        padding-left: 0;
      }

      #sidebar ul h3 {
        margin-top: 25px;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
      }

      #sidebar li {
        list-style-type: none;
      }

      #sidebar ul.links li {
        margin-bottom: 5px;
      }

      .filename {
        font-style: italic;
      }
      li.user-info p , li.user-info h3 { margin: 0!important; line-height: 1.3; padding: 0; }
      #content { }
      #content input { padding: 6px 10px }
      #content textarea { width: 90%; padding: 6px 10px }
      #content .field { margin-bottom: 16px }
    </style>
    <script>
      function about() {
        var info = document.getElementById('about-content'),
            xhr;

        if (info.innerHTML === '') {
          xhr = new XMLHttpRequest();
          xhr.open("GET", "/rails/info/properties", false);
          xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
          xhr.send("");
          info.innerHTML = xhr.responseText;
        }
        info.style.display = info.style.display === 'none' ? 'block' : 'none';
      }
    </script>
  </head>
  <body>
    <div id="page">

			<% if user_signed_in? %>
			  <div id="sidebar">
			    <ul id="sidebar-items">
			      <li class="user-info">
			        <p>merhabalar:</p>
			        <h3><%= link_to current_user.email, 'current_user' %></h3>
			        <ul class="links">
			          <% if user_signed_in? %>
			            <li><%= link_to current_user.email, 'current_user' %></li>
			            <li><%= link_to "Profil Edit", edit_user_registration_path %></li>
			            <li><%= link_to "Categories", categories_path %></li>
			            <li><hr></li>
			            <li><%= link_to "Logout", destroy_user_session_path %></li>
			          <% else %>
			            <li><%= link_to "Sign in", new_user_session_path %></li>
			          <% end %>

			        </ul>
			      </li>
			      <li>
			        <h3>Categories</h3>
			        <ul class="links">
			              <% current_user.categories.each do |category| %>
                    <li>
                      <p><%= link_to category.name, category %></p>
                    </li>
                    <% end %>
			        </ul>
			      </li>
			    </ul>
			  </div>
			<% end %>

      <div id="content">
       
       	<div class="alert">
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
				</div>

			<%= yield %>

      </div>


      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>
